useDynLib(VirFinder)
exportPattern("^[[:alpha:]]+")
export(VF.pred)
export(VF.qvalue)
export(VF.train.user)
export(VF.pred.user)
importFrom(Rcpp, evalCpp)
importFrom("stats", "predict")
importFrom("utils", "data")
import("glmnet", "qvalue")